.banner {
  background-image: url("../../assets/img/banner.jpg");
  width: 100%;
  height: 87.5vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fefefe;
  flex-flow: column;
  gap: 2rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 200;

  & .darkBackground {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0009;
    width: 100%;
    height: 100%;
  }

  & h1 {
    z-index: 1;
  }

  & h2 {
    font-size: 2rem;
    margin-bottom: 15rem;
    background-color: #fefefe;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 1;
    color: #5e5e5e;
  }
}
