*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  position: relative;
}
main {
  overflow: visible;
  height: 100%;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1350px;
}
