@import "../../assets/sass/abstracts/utilities";

.utilize {
  padding: 2rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;

  & h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  & p {
    font-size: 2.5rem;
    margin-bottom: 2rem;

    @include max(1000) {
      text-align: center;
    }
  }

  &__separation {
    display: flex;
    align-items: center;
    background-color: #ff5f5f;
    border-radius: 3rem;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 2rem;

    & img {
      width: auto;
      height: auto;
    }

    & input[type="text"] {
      height: 4rem;
      font-size: 3rem;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    flex-flow: column;

    & input[type="submit"] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      padding: 0 2rem 0;
      height: 7rem;
      border-radius: 5rem;
      border: none;
      background-color: #ff5f5f;
      border: #ff4040 solid 0.5rem;
      box-shadow: inset 0px 0px 10px 2px rgba(255, 64, 64, 1);
      color: #fefefe;
      font-weight: 700;
      font-size: 3rem;

      &:hover,
      &:active {
        animation: boop forwards 0.2s;
        cursor: pointer;
      }

      @include max(1000) {
        width: 100%;
      }
    }
  }

  &__button {
    width: 4rem;
    height: 4rem;
    background-color: #ff7d32;
    border: none;
    box-shadow: inset 0px -3px 3px 0px rgb(255, 64, 64);
    color: #fff;
    font-size: 4rem;
    line-height: 0;

    &:hover,
    &:active {
      animation: boop forwards 0.2s;
      cursor: pointer;
    }
  }
}

.loading {
  width: 35rem;
  height: 15rem;
  border-radius: 7rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 5px 0px #0e0e0e;
  z-index: 110;
  animation: close 0.2s forwards;

  & button {
    width: fit-content;
    height: 5rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #ff7d32;
    border: none;
    box-shadow: inset 0px -3px 3px 0px rgb(255, 64, 64);
    color: #fff;
    font-size: 4rem;
    line-height: 0;

    &:hover,
    &:active {
      animation: boop forwards 0.2s;
      cursor: pointer;
    }
    display: none;
  }

  &[data-loading="true"] {
    animation: open 0.2s forwards;
  }

  &[data-message="true"] {
    animation: open 0.2s forwards;
    width: fit-content;
    height: fit-content;
    padding: 5rem;

    & .loading__spin {
      display: none;
    }

    & button {
      display: block;
    }
  }

  &__spin {
    width: 4rem;
    height: 4rem;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg height='40px' width='40px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath style='fill:%23B3404A;' d='M130.244,458.789c-15.902,0-29.64-5.664-40.836-16.835c-5.536-5.525-5.548-14.491-0.023-20.03 c5.525-5.536,14.493-5.545,20.03-0.023c5.853,5.841,12.472,8.561,20.829,8.561c8.197,0,14.789-2.738,20.744-8.615 c5.885-5.812,8.628-12.409,8.628-20.757c0-8.345-2.743-14.94-8.631-20.754c-5.951-5.875-12.543-8.612-20.741-8.612 c-8.37,0-14.986,2.716-20.818,8.549c-5.531,5.532-14.498,5.531-20.029,0.001c-5.531-5.531-5.532-14.497,0-20.029 c11.177-11.18,24.921-16.848,40.847-16.848c15.688,0,29.361,5.645,40.643,16.781c11.317,11.179,17.055,24.941,17.055,40.912 c0,15.973-5.737,29.739-17.053,40.915C159.603,453.144,145.93,458.789,130.244,458.789z'/%3E%3Cpath style='fill:%23F4B2B0;' d='M120.589,265.672c0-13.316-4.745-24.691-14.219-34.166c-9.456-9.475-20.852-14.201-34.148-14.201 c-13.302,0-24.696,4.726-34.172,14.201c-9.471,9.475-14.201,20.852-14.201,34.166c0,13.296,4.73,24.677,14.201,34.154 c9.475,9.475,20.87,14.201,34.172,14.201c13.296,0,24.691-4.726,34.148-14.201C115.844,290.35,120.589,278.969,120.589,265.672 L120.589,265.672z'/%3E%3Cg%3E%3Cpath style='fill:%23B3404A;' d='M72.22,328.19c-17.144,0-32.011-6.174-44.186-18.349c-12.176-12.184-18.349-27.044-18.349-44.168 c0-17.136,6.172-31.999,18.346-44.179c12.18-12.179,27.047-18.351,44.189-18.351c17.151,0,32.014,6.176,44.172,18.358 c12.179,12.18,18.358,27.045,18.358,44.172c0,17.119-6.179,31.978-18.368,44.168C104.235,322.012,89.373,328.19,72.22,328.19z M72.22,231.468c-9.49,0-17.392,3.287-24.157,10.053c-6.858,6.862-10.053,14.537-10.053,24.153c0,9.605,3.195,17.276,10.056,24.14 c6.761,6.761,14.664,10.051,24.155,10.051c9.488,0,17.379-3.284,24.123-10.044c6.88-6.88,10.081-14.551,10.081-24.148 c0-9.607-3.201-17.281-10.071-24.153C89.599,234.752,81.708,231.468,72.22,231.468z'/%3E%3Cpath style='fill:%23B3404A;' d='M401.107,168.582c-10.393,0-19.768-3.895-27.116-11.264c-7.345-7.352-11.234-16.722-11.234-27.085 c0-10.352,3.889-19.715,11.244-27.078c7.348-7.369,16.725-11.271,27.105-11.271c7.822,0,14.163,6.342,14.163,14.163 s-6.341,14.163-14.163,14.163c-2.881,0-4.991,0.884-7.056,2.956c-2.083,2.085-2.969,4.195-2.969,7.067 c0,2.885,0.885,5.001,2.957,7.074c2.064,2.071,4.174,2.949,7.067,2.949c2.884,0,4.997-0.882,7.066-2.952 c5.531-5.532,14.498-5.533,20.029-0.001c5.532,5.529,5.532,14.497,0.001,20.029C420.846,164.692,411.475,168.582,401.107,168.582z' /%3E%3C/g%3E%3Cpath style='fill:%23F4B2B0;' d='M128.674,78.63c-14.725,0-27.266,5.185-37.645,15.565c-10.38,10.38-15.559,22.915-15.559,37.626 c0,14.729,5.181,27.266,15.559,37.645c10.38,10.384,22.934,15.565,37.645,15.565s27.248-5.181,37.632-15.565 c10.38-10.38,15.559-22.934,15.559-37.645s-5.181-27.248-15.559-37.626C155.922,83.815,143.387,78.63,128.674,78.63L128.674,78.63z' /%3E%3Cg%3E%3Cpath style='fill:%23B3404A;' d='M128.676,199.194c-18.55,0-34.586-6.634-47.662-19.716c-13.075-13.075-19.706-29.112-19.706-47.656 c0-18.536,6.631-34.564,19.709-47.642c13.079-13.079,29.114-19.713,47.659-19.713c18.529,0,34.56,6.632,47.644,19.712 c13.079,13.076,19.71,29.107,19.71,47.644c0,18.548-6.631,34.581-19.709,47.659C163.24,192.561,147.211,199.194,128.676,199.194z M128.676,92.793c-10.911,0-19.948,3.735-27.63,11.418c-7.679,7.678-11.412,16.711-11.412,27.612 c0,10.912,3.733,19.951,11.412,27.63c7.679,7.683,16.716,11.418,27.63,11.418c10.901,0,19.934-3.735,27.616-11.418 c7.679-7.679,11.412-16.718,11.412-27.63c0-10.901-3.733-19.934-11.412-27.612C148.607,96.528,139.573,92.793,128.676,92.793z'/%3E%3Cpath style='fill:%23B3404A;' d='M459.149,308.839c-11.779,0-22.357-4.365-30.59-12.623c-8.233-8.233-12.592-18.8-12.592-30.543 c0-7.821,6.341-14.163,14.163-14.163s14.163,6.342,14.163,14.163c0,4.301,1.33,7.549,4.311,10.533 c2.977,2.984,6.223,4.31,10.544,4.31c4.311,0,7.554-1.326,10.514-4.294c3.003-2.993,4.328-6.236,4.328-10.547 c0-4.321-1.324-7.569-4.294-10.529c-2.997-3.007-6.24-4.334-10.548-4.334c-7.822,0-14.163-6.342-14.163-14.163 s6.341-14.163,14.163-14.163c11.771,0,22.343,4.368,30.577,12.63c8.226,8.196,12.591,18.774,12.591,30.556 c0,11.772-4.365,22.343-12.625,30.576C481.493,304.474,470.921,308.839,459.149,308.839z'/%3E%3Cpath style='fill:%23B3404A;' d='M401.107,449.114c-13.103,0-24.509-4.75-33.9-14.115c-9.379-9.387-14.125-20.79-14.125-33.909 c0-12.945,4.878-24.669,14.106-33.904c9.243-9.236,20.968-14.113,33.918-14.113c12.941,0,24.659,4.878,33.89,14.109 c9.383,9.41,14.133,20.814,14.133,33.909c0,7.821-6.341,14.163-14.163,14.163s-14.163-6.342-14.163-14.163 c0-5.475-1.86-9.89-5.851-13.894c-3.953-3.951-8.356-5.8-13.847-5.8c-5.504,0-9.917,1.848-13.888,5.815 c-3.961,3.966-5.811,8.377-5.811,13.877c0,5.49,1.848,9.897,5.818,13.87c3.981,3.971,8.397,5.828,13.88,5.828 c7.822,0,14.163,6.342,14.163,14.163C415.268,442.771,408.929,449.114,401.107,449.114z'/%3E%3Cpath style='fill:%23B3404A;' d='M265.688,512c-14.515,0-27.093-5.216-37.388-15.503c-10.268-10.267-15.473-22.84-15.473-37.377 c0-14.506,5.201-27.074,15.457-37.356c5.523-5.539,14.49-5.55,20.029-0.025c5.538,5.523,5.548,14.491,0.024,20.03 c-4.902,4.914-7.185,10.427-7.185,17.351c0,6.94,2.279,12.45,7.172,17.344c4.922,4.919,10.441,7.21,17.364,7.21 c6.907,0,12.418-2.292,17.342-7.213c4.903-4.903,7.189-10.415,7.189-17.341c0-6.91-2.289-12.424-7.203-17.351 c-5.523-5.538-5.514-14.506,0.024-20.03c5.538-5.522,14.506-5.512,20.029,0.026c10.269,10.295,15.476,22.863,15.476,37.356 c0,14.523-5.21,27.098-15.488,37.374C292.759,506.784,280.188,512,265.688,512z'/%3E%3C/g%3E%3Cpath style='fill:%23F4B2B0;' d='M265.688,14.163c-16.126,0-29.84,5.635-41.129,16.919c-11.283,11.288-16.919,25.003-16.919,41.123 c0,16.126,5.635,29.821,16.919,41.11c11.289,11.283,25.003,16.919,41.129,16.919c16.121,0,29.817-5.635,41.105-16.919 c11.283-11.288,16.919-24.985,16.919-41.11c0-16.121-5.635-29.817-16.919-41.123C295.504,19.817,281.808,14.163,265.688,14.163 L265.688,14.163z'/%3E%3Cpath style='fill:%23B3404A;' d='M265.688,144.397c-19.951,0-37.157-7.087-51.142-21.066c-13.981-13.987-21.069-31.188-21.069-51.126 c0-19.95,7.087-37.153,21.066-51.136C228.529,7.087,245.736,0,265.688,0c19.913,0,37.108,7.084,51.109,21.057 c13.993,14.021,21.077,31.223,21.077,51.147c0,19.938-7.087,37.139-21.066,51.122C302.823,137.308,285.624,144.397,265.688,144.397z M265.688,28.326c-12.34,0-22.517,4.178-31.116,12.773c-8.591,8.593-12.769,18.77-12.769,31.107 c0,12.327,4.178,22.499,12.773,31.097c8.594,8.59,18.771,12.769,31.111,12.769c12.324,0,22.495-4.178,31.092-12.773 c8.591-8.594,12.769-18.767,12.769-31.093c0-12.322-4.181-22.502-12.78-31.12C288.17,32.506,277.997,28.326,265.688,28.326z'/%3E%3C/svg%3E");
    animation: spin infinite 1.5s;
  }

  &__darkness {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #0e0e0edd;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &[data-loading="true"],
    &[data-message="true"] {
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes boop {
  from {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes open {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes close {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}
